<h1>Patient list</h1>

<p>
  <%= link_to "Register a patient", new_patient_path%>
</p>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Age</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= link_to patient.username, patient %></td>
        <td><%= patient.age =%></td>
        <td>
          <%= link_to "edit", edit_patient_path(patient) %>&nbsp;
          |
          <%= link_to 'delete', patient_path(patient), data: {confirm: "Are you sure???"}, method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
